@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root{
    font-size:62.5%;
}
body{
width:100%;
height:100vh;
overflow: hidden;
transition: all .2s linear;

}

.toogle{
  background-color: #b3b6b6;
  width: 8rem;
  height: 3rem;
  border-radius:5rem;
  display: flex;
  padding: .5rem;
  align-items: center;
  position: absolute;
  left: 2.5rem;
  top: 2.5rem;
}

.toogle input{
  appearance: none;
  border-radius:5rem;
  width: 8rem;
  height: 3rem;
  position: absolute;
  top:0;
  left: 0;
  z-index: 99;
  cursor: pointer;
  

}

.icons{
  width: 8rem;
  height: 3rem;
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  padding: .5rem;
  align-items: center;
}



.toogle img{
  width: 2rem;
  height: 2rem;
  position: absolute;
  
  

}
#moon{
  right:.8rem;
}

.toogle input:checked ~ .icons #soon{
  opacity:.2;
}

.toogle input:not(:checked)~ .icons #moon{
  opacity:.2;

}


main{
    
    width:100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2.5rem;
   overflow: hidden;
}
span{
    font-size:8.8rem;
    font-weight: 700;  
 }

#timer{
display: flex;

}
section{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2;
   
}

button{
    background-color: transparent;
    border:none;
}

#controls{
    gap: 2rem;
    display: flex;
    justify-content:center;
    align-content: center;
    width: 312px;
    height: 48px;
}

.noVisiliby{
    display: none;
  
   }

#controls button{
    cursor: pointer;
}

#cards{
    width: 3rem;
    display: grid;
    place-content: center;
    gap: 1.5rem;
}

   #cards button{
    width: 15rem;
    height: 15rem;
    background-color: #E1E1E6;
    border-radius: 2.4rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    flex-direction: column;
    position: relative;
  
}

#cards button svg{
    width: 40px;
}
#cards .rain{
    grid-column: 2;
    
}

.hide{
display: none;
}





#cards .select{
    background-color: #181c2c;
}


#cards .select svg path{
    fill: white;
}

input[type=range]{
    width: 9.6rem;
    height: 0.3rem;
    position: relative;
    border-radius: .3rem;
    -webkit-appearance: none;
   
    
    
  }


  input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 1.9rem;
    height: 1.9rem;
   cursor: pointer;
   z-index: 3;
   
   position: relative;
 



  }

  .selector{
    height: 1.9rem;
    width: 1.9rem;
    position:absolute;

    left: 50%;
    transform: translateX(-49%);    
    z-index: 2;
    
    background-color: white;
    border-radius: 50%;
    border: .1rem solid black;

    display: grid;
    place-content: center;
   
    padding: .5rem;  }


  .selectorBtn{
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(assets/volume.svg);
    background-size: cover;
  }

  .range{
    width: 9.5rem;
    display: grid;
    place-items: center;
    position: relative;
 
  }

  .progress{
    width: 50%;
    height: .3rem;
    background-color: #0011ff;
    position: absolute;
    top: 0;
    left: 0;
  }

  #cards .select .progress{
    background-color: #00e1ff;
  }


  #cards .select .selector{
    background-color: #00e1ff;
  }



  /*dark theme*/


   .dark{
    background-color: #0c0e16;

    color: white;

  }

   .dark .pause svg{
    fill: #ffff;
  
  }
  .dark #controls button svg path{
    fill: white;

  }

  .dark #cards svg path{
    fill:grey;
  }

  .dark #cards .select svg path{
    fill: white;
  }
  
  
.dark #cards button {
  background-color: #181c2c;
}

.dark #cards .select {
  background-color: #1d2542;
}

